// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-tabs {
    display: block;
    font-size: 15px;
}

.post-tabs ul {
    display: flex;
    position: relative;
    right: 40px;
    text-align: center;
}

.post-tab {
    padding: 7px;
    min-width: 120px;
    border-radius: 10px;
    background: rgb(13, 41, 152);
    color: white;
}

.post-tab:hover {
    background: rgb(242, 140, 140);
    cursor: pointer;
}

.post-tab:focus {
    background: rgb(242, 140, 140);
}

.city-post-form-button {
    padding: 7px;
    font-size: 21px;
    border-radius: 10px;
    color: white;
    background-color: rgb(119, 174, 233);
}

.city-post-form-button:hover {
    background-color: rgb(242, 140, 140);
}

.post-content {
    font-size: 18px;
    min-width: 300px;
    min-height: 150px;
    border-radius: 10px;
}

.post-subject {
    font-size: 18px;
    min-width: 300px;
    border-radius: 10px;
}

.post-submit-button {
    padding: 7px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    background-color: rgb(119, 174, 233);
}

.post-submit-button:hover {
    background-color: rgb(242, 140, 140);
}

.post-form-container {
    background: rgb(249, 249, 249);
    border-radius: 10px;
    padding: 7px;
    text-align: center;
}

.post-category-dropdown {
    font-size: 17px;
    min-width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.post-index-item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

.post-index-item-rating {

    color: rgb(255, 174, 0);
}

.post-index-item-subject {
    font-size: 25px;
    color: rgb(78, 191, 252);
}

.post-stamp {
    color: grey;
    font-size: 15px;
}

.post-index-item-content {
    // display: inline-block;
    // border: 1px solid gray;
    max-width: 550px;
    font-size: 17px;
   
}