/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import 'bootstrap-sprockets';
// @import 'bootstrap';

ul {
    list-style: none
}

body {
    font-family: 'Didact Gothic';
    background: rgb(255, 255, 255);
}

button {
    font-family: 'Didact Gothic';
    font-size: 20px;
    cursor: pointer;
}

label {
    padding: 7px;
}

input[type='text'] {
    font-size: 20px;
}

input[type='submit'] {
    cursor: pointer;
}

.sex {
    color: blue;
}


.clearfix {
    clear: both;
  
}



.nav-bar-flex {
    display: flex;
}

.nav-bar-container {

    font-size: 30px;
    width: 100%;
    min-height: 80px;
 
    color: gray;

}



.nav-bar p {
    padding: 10px;
    float: left;
}




.nav-bar-list {

    float: right;
   
    
 
}

.nav-bar-list li {
    padding: 10px;
    float: left;
}


.nav-link {
    color: rgb(108, 154, 238);
    text-decoration: none;
}

.nav-link:hover {
    color: rgb(247, 145, 145);
    text-decoration: none;
}

.greeting-logged-in {
    font-size: 20px;
}


.greeting-container {
    background-image: url('CityStreet5.jpg');
    background-size: 100% 100%;
    padding: 125px;
   
    min-height: 300px;
    text-align: center;
    font-size: 40px;
    color: white;
}


.footer {
    text-align: center;
    font-size: 15px;
    padding: 25px;
    color: gray;
}

.home-page-container {
 
    margin: auto;
    // border: 1px solid rgb(249, 126, 126);
 
    min-width: 900px;
    min-height: 300px;
    margin-left: 10px;
    margin-right: 10px;

    font-size: 15px;
}


.hide-this-shit {
    display: none;
}