// Place all the styles related to the api/cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//<---------City Pics Start
.Atlanta {
    background-image: url('Atlanta.jpg');
   
}
.Austin {
    background-image: url('Austin.jpg');
   
}
.Boston {
    background-image: url('Boston.jpg');
   
}
.Charlotte {
    background-image: url('Charlotte.jpg');
   
}
.Chicago {
    background-image: url('Chicago.jpg');
   
}
.Dallas {
    background-image: url('Dallas.jpg');
   
}
.Denver {
    background-image: url('Denver.jpg');
   
}
.Houston {
    background-image: url('Houston.jpg');
   
}
.LasVegas {
    background-image: url('Las Vegas.jpg');
   
}
.LosAngeles {
    background-image: url('Los Angeles.jpg');
   
}
.Miami {
    background-image: url('Miami.jpg');
   
}
.Minneapolis {
    background-image: url('Minneapolis.jpg');
   
}
.NewYork {
    background-image: url('New York.jpg');
   
}
.Philadelphia {
    background-image: url('Philadelphia.jpg');
   
}
.Phoenix {
    background-image: url('Phoenix.jpg');
   
}
.Portland {
    background-image: url('Portland.jpg');
   
}
.SanDiego {
    background-image: url('San Diego.jpg');
   
}
.SanFrancisco {
    background-image: url('San Francisco.jpg');
   
}
.Seattle {
    background-image: url('Seattle.jpg');
   
}
.WashingtonDC {
    background-image: url('Washington DC.jpg');
   
}
.AtlantaPage {
    background-image: url('AtlantaPage.jpg');
   
}
.AustinPage {
    background-image: url('AustinPage.jpg');
    
}
.BostonPage {
    background-image: url('BostonPage.jpg');
   
}
.CharlottePage {
    background-image: url('CharlottePage.jpg');
   
}
.ChicagoPage {
    background-image: url('ChicagoPage.jpg');
   
}
.DallasPage {
    background-image: url('DallasPage.jpg');
   
}
.DenverPage {
    background-image: url('DenverPage.jpg');
   
}
.HoustonPage {
    background-image: url('HoustonPage.jpg');
   
}
.LasVegasPage {
    background-image: url('LasVegasPage.jpg');
   
}
.LosAngelesPage {
    background-image: url('LosAngelesPage.jpg');
   
}
.MiamiPage {
    background-image: url('MiamiPage.jpg');
   
}
.MinneapolisPage {
    background-image: url('MinneapolisPage.jpg');
   
}
.NewYorkPage {
    background-image: url('NewYorkPage.jpg');
   
}
.PhiladelphiaPage {
    background-image: url('PhiladelphiaPage.jpg');
   
}
.PhoenixPage {
    background-image: url('PhoenixPage.jpg');
   
}
.PortlandPage {
    background-image: url('PortlandPage.jpg');
   
}
.SanDiegoPage {
    background-image: url('SanDiegoPage.jpg');
   
}
.SanFranciscoPage {
    background-image: url('SanFranciscoPage.jpg');
   
}
.SeattlePage {
    background-image: url('SeattlePage.jpg');
   
}
.WashingtonDCPage {
    background-image: url('WashingtonDCPage.jpg');
   
}
//City Pics End ------->

.city-profile-pic {
    min-height: 650px;
    background-size: 100% 100%;
}

.city-item {
    text-align: center;
    border: 2px solid white;
    width: 190px;
    height: 170px;
    margin: 7px;
    opacity: 0.85;
    background-size: 100% 100%;
}

.city-item:hover {
  
    border: 2px solid rgb(190, 230, 255);
    width: 190px;
    height: 170px;
    opacity: 1.0;

}


.city-item-row {
    display: flex;
    justify-content: space-around;
}

.city-profile-header {
    font-size: 25px;
    margin-left: 10px;
    color: rgb(65, 65, 65);
}


