// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-tabs {
    font-size: 15px;
    background-color: rgb(0, 39, 87);
    margin: 0;
}

.post-tabs ul {
    display: flex;
    padding: 0;
    text-align: center;
}

.post-tab {
    padding: 7px;
    min-width: 120px;
    background: rgb(0, 39, 87);
    color: white;
}

.post-tab:hover {
    background: rgb(83, 148, 228);
    cursor: pointer;
}

.highlight-category {
    position: relative;
    background: rgb(83, 148, 228);
}

.highlight-category:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-top: 12px solid rgb(83, 148, 228);
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -10px;
}

.city-post-form-button {
    padding: 7px;
    font-size: 21px;
    border-radius: 10px;
    color: white;
    background-color: rgb(119, 174, 233);
}

.city-post-form-button:hover {
    background-color: rgb(242, 140, 140);
}

.post-content {
    font-size: 18px;
    min-width: 300px;
    min-height: 150px;
    border-radius: 10px;
}

.post-subject {
    font-size: 18px;
    min-width: 300px;
    border-radius: 10px;
}

.post-submit-button {
    padding: 7px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    background-color: rgb(119, 174, 233);
}

.post-submit-button:hover {
    background-color: rgb(242, 140, 140);
}

.post-form-container {
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 4px;
    background-image: url('WhiteGradient.jpg');
    background-size: 100% 100%;
    text-align: center;
}

.post-error-message {
    font-size: 18px;
    margin: auto;
    color: rgb(255, 42, 42);
}

.post-category-dropdown {
    font-size: 17px;
    min-width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.post-index-item {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 7px;
    margin-right: 7px;
    padding: 5px;
}

.post-index-item-rating {
    color: rgb(255, 174, 0);
}

.post-index-item-subject {
    font-size: 25px;
    color: rgb(89, 174, 244);
}

.post-stamp {
    color: grey;
    font-size: 15px;
}

.post-index-item-content {
    max-width: 550px;
    font-size: 17px;
}

.total-rating-container {
    margin-left: 2px;
}

.total-rating-container h1 {
    color: rgb(255, 174, 0);
    margin-left: 5px;
    font-size: 40px;
    margin: 0;
}

.total-star-rating-list {
    display: flex;
    font-size: 32px;
    margin: auto;
    padding: 0;
}

.total-star-rating-list li {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(24, 24, 24);
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.total-rating-star-circle {
    background-color: rgb(255, 211, 66);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.not-logged-in-message {
    margin: 0;
    margin-left: 5px;
}

.number-of-reviews {
    font-size: 18px;
    margin: 0px;
}

//---post form styles

input[type='radio'] {
    display: none;
}

.star-rating-container {
    width: 300px;
    margin: auto;
    padding: 5px;
}

.star-rating-list {
    display: flex;
    font-size: 30px;
    margin: auto;
}

.star-rating-list li {
    color: white;
    text-shadow: 3px 3px 3px rgb(48, 48, 48);
}

.star-rating-list li:hover {
    color: rgb(255, 225, 0);
    cursor: pointer;
}

.star-rating-list li.active, .star-rating-list li.secondary-active {
    color: rgb(255, 225, 0);
}

.post-star-rating-list {
    display: flex;
    font-size: 25px;
    padding: 0;
}

.post-star-rating-list li {
    color: rgb(255, 225, 0);
    text-shadow: 2px 2px 5px rgb(96, 96, 96);
    padding: 2px;
}

@media screen and (max-width: 550px) {
    .post-tabs ul {
        display: block;
    }
    .total-star-rating-list {
        font-size: 25px;
    }
    .total-rating-star-circle {
        background-color: rgb(255, 211, 66);
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }
}