// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
   display: flex;
}

.session-form {

    margin: auto;
    width: 900px;
    text-align: center;
    padding:100px;
    font-size: 20px;
    color: white;
}


.session-form-background {
    background-image: url('CityStreet.jpg');
    // background-size: 100%;
    // min-width: 900px;
    background-size: 100% 100%;
}

.session-submit-button {
    padding: 7px;
    font-size: 17px;
    border-radius: 10px;
    min-width: 200px;
    color: white;
    background-color: rgb(119, 174, 233);
}

.session-submit-button:hover {
    background-color: rgb(249, 129, 129);
}