// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-form-container {
   display: flex;   
}

.session-form {
    margin: auto;
    width: 900px;
    text-align: center;
    padding: 100px;
    font-size: 20px;
    color: white;
    background-size: 100% 100%;
}

.session-form-background {
    background-image: image-url('CityStreet.jpg'), image-url('TCLogo.jpg');
    background-size: 100% 100%;
}

.session-submit-button {
    padding: 7px;
    font-size: 17px;
    border-radius: 10px;
    min-width: 200px;
    color: white;
    background-color: rgb(119, 174, 233);
}

.session-submit-button:hover {
    background-color: rgb(249, 129, 129);
}

.logout-button {
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: rgb(150, 150, 150);
}

.logout-button:hover {
    background-color: rgb(0, 104, 215);
}
//-media queries
@media screen and (max-width: 500px) {
    .session-form {
        padding: 50px;
        font-size: 15px;
    }
}
@media screen and (max-width: 370px) {
    .session-form {
        padding: 30px;
        font-size: 12px;
    }
    .session-submit-button {
        padding: 7px;
        font-size: 12px;
        min-width: 100px;
    }
}